.bg-dark {
    background-color: #111 !important;
}

.btn-dark {
    background-color: #111111 !important;
    border: 0px;
}

.bg-gray {
    background-color: #B49CC0;
}

.davus-accent-color {
    color: rgb(195, 130, 238) !important;
}